@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #BBB3AC;
}

p {
    line-height: 1.2em;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    font-size: 34px;
    color: #2E3B43;
}

h2 {
    font size: 28px;
    color: #2E3B43;
}

img {
    width: 100%;
}

.topImg {
    max-width: 800px;
    margin: 0 auto;
}

.caption {
    color: #737373;
    font-size: 14px;
    font-style: italic;
    padding: 0 10px;
}

.captionbyline {
    color: #737373;
    font-style: italic;
    font-size: 12px;
}

.byline {
    font-weight: bold;
}

/* other colors salmonish CC9887 green 7D7E70 */
/*
.coastal_storm {
    display: flex;
    flex-flow: row wrap;
}

.earthquake {
    display: flex;
    flex-flow: row wrap;
}

.fire {
    display: flex;
    flex-flow: row wrap;
}

.flood {
    display: flex;
    flex-flow: row wrap;
}

.hurricane {
    display: flex;
    flex-flow: row wrap;
}

.mud {
    display: flex;
    flex-flow: row wrap;
}

.severe_storm {
    display: flex;
    flex-flow: row wrap;
}

.snow {
    display: flex;
    flex-flow: row wrap;
}

.tornado {
    display: flex;
    flex-flow: row wrap;
}

.volcano {
    display: flex;
    flex-flow: row wrap;
}

.state.active {}
*/
.states {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.check_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    font-size: .9em;
}

.state {
    padding: 20px;
    background-color: #8F756F;
    box-sizing: border-box;
    border-radius: 10px;
    /* width: 132px; */
    height: 100px;
    margin: 10px;
    text-align: center;
    display: none;
}

.state.active {
    display: block;
}

/*Special Rules for Mobile*/
@media only screen and (max-width: 728px) {
    #mobile {
        display: block
    }

    #desktop {
        display: none
    }
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {

    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    .check_grid div {
        padding-left: 63px;
    }
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    #mobile {
        display: none
    }

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
}